body {
  background-color: #eaf6f6;
  margin: 0;
  font-family: 'Merriweather Sans', sans-serif;
}

div {
  background-color: white;
  margin: 0;
  text-align: center;
}

h1 {
  margin: 50px;
  font-family: 'Grand Hotel', cursive;
  font-size: 5.625rem;
  line-height: 2;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: #66BFBF;
  font-size: 2.5rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #314e52;
}

hr {
  border-style: dotted none none;
  width: 10%;
  border: 10px;
}

p {
  color: #5b5b5b;
  margin-bottom: 0;
  line-height: 2;
}

span {
  text-decoration: underline;
}

a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #11999e;
  margin: 10px 20px;
}

a:hover {
  color: #EAF6F6
}

.sam {
  height: 300px;
  width: 300px;
}

.swim {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.intro {
  width: 30%;
  margin: auto;
}

.top-container {
  margin: 0 auto 300px auto;
  background-color: #eaf6f6;
  position: relative;
  height: 600px;
}

.top-cloud {
  width: 150px;
  position: absolute;
  top: 10%;
  right: 15%;
}

.typing {
  width: 25%;
  float: right;
}

.bottom-cloud {
  width: 150px;
  position: absolute;
  bottom: 30%;
  left: 20%;
}

.mountain {
  position: absolute;
  width: 400px;
  right: 650px;
  top: 75%;
}

.profile {
  padding-top: 20px;
}

.skills {
  padding: 40px 0 0 0;
}
.skill-row1 {
  width: 50%;
  margin: 10% 0 0 10%;
  text-align: left;
  line-height: 2;
}

.skill-row2 {
  text-align: left;
  padding: 5% 0 5% 0;
  margin-left: 45%;
  margin-bottom: 5%;
  left: 50px;
  width: 50%;
  line-height: 2;
}

.contact-me {
  padding-bottom: 5%;
}

.copyright {
  font-size: 0.75rem;
  color: #eaf6f6;
  margin: 30px auto 0 auto;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 30px 0;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
